.button {
  background-color: #fff;
  border: 1px solid #3C948B;
  color: #3C948B;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  outline: none;
  padding: 5px;
  transition: 0.2s all;
  text-transform: uppercase;
  text-align: center;
}

.button:hover,
.button:focus,
.button:active {
  color: #43AC6A;
}
