.header {
  align-items: center;
  background: #3F3F3F;
  display: flex;
  justify-content: center;
  min-height: 60px;
  position: relative;
}

.title {
  color: #FFFFFF;
  font-size: 2.9333333333rem;
  left: 0;
  margin: auto;
  padding: 0 15px;
  right: 0;
}
