.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #3F3F3F;
  position: relative;
}

.title {
  color: #FFFFFF;
  font-size: 2.9333333333rem;
  left: 0;
  margin: auto;
  right: 0;
}
